body {
    background-color: gray;
    padding: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 800px;
    magrin: 0 auto;
}

h1 {
    padding: 20px;
    background: white;
    border-radius: 10px;
    font-size: 1.8rem;
    text-align: center:
}
p {
    background-color: black;
    color: white;
    border-radius: 1px;
    width:100%;
    line-height:1.5;
    padding: 20px;
    font-size: 1rem;
